{% extends "base.html" %}

{% block page_content %}

    <center>
        <div class="page-header">
            <h1>CSInfoGo</h1>
        </div>
    </center>

    <div class="container">
        <div class="panel panel-info">
              <div class="panel-heading">
                  <h4>About</h4>
              </div>
              <div class="panel-body">
                  <p>
                      This is a CS Information Searcher (just like Google in general search field) and therefore named <strong>CSInfoGo</strong>.
                </p>
                <p>
                    More at <a href="https://bsnsk.github.com/CSInfoGo-Python">Github</a>.
                </p>
              </div>
        </div>
        <div class="panel panel-info">
              <div class="panel-heading">
                  <h4>Contact</h4>
              </div>
              <div class="panel-body">
                  <p>
                      Contact me at:
                      <ul>
                          <li><a href="mailto:shuyang790@gmail.com">Email: shuyang790@gmail.com</a></li>
                          <li>Mobile: (0086)183-0133-6991</li>
                      </ul>
                </p>
              </div>
        </div>
    </div>

{% endblock %}
