{% extends "base.html" %}

{% block page_content %}

    <center>
        <div class="page-header">
            <h1>About CSInfoGo</h1>
        </div>
    </center>

    <div class="container">
        <div class="panel panel-info">
              <div class="panel-heading">
                  
              </div>
              <div class="panel-body">
                  <p>
                      This is a CS Information Searcher (just like Google in general search field) and therefore named <strong>CSInfoGo</strong>.
                </p>
                <p>
                    More at <a href="https://bsnsk.github.com/CSInfoGo-Python">Github</a>.
                </p>
              </div>
        </div>
    </div>

{% endblock %}
