{% extends "base.html" %}

{# ======================================= #}

{% block page_content %}
        <div class="page-header">
            <center>
                <h1>CSInfoGo:
                    Hi, CSers!</h1><h4>
                Input a faculty name or a university name / abbreviatoin, and magic happens!</h4>
            </center>
        </div>
        <div class="container">
            <center>
            <div class="container" style="padding-top: 18px">
                <form role="form" method="get" action="/home">
                    {% if keyword %}
                        <input type="text" class="form-control input-lg" name="keyword", value="{{keyword}}">
                    {% else %}
                        <input type="text" class="form-control input-lg" name="keyword">
                    {% endif %}
                    <br />
                    <button type="submit" class="btn btn-primary btn-lg">Go</button>
                </form>
            </div>
            </center>
        </div>
        <div class="container" style="padding-top: 20px">
            {% if keyword is not none %}
                <div class="alert alert-success ">
                    <strong> Success! </strong>
                    Last Search: <strong> {{keyword}} </strong>
                    at {{curTime}}
                </div>
            {% endif %}
            {% if dangerAlert %}
                <div class="alert alert-danger ">
                    {{dangerAlert}}
                </div>
            {% endif %}
            {% if items %}
                {% for item in items %}
                    {% if item.isPerson %}
                    <div class="panel panel-info">
                    {% else %}
                    <div class="panel panel-warning">
                    {% endif %}
                        <div class="panel-heading">
                            <div style="display:inline">
                            {% if item.isPerson %}
                                <img src="img/person_people_16px_1189669_easyicon.net.png"/>
                            {% else %}
                                <img src="img/university_16px_1169923_easyicon.net.png" />
                            {% endif %}
                            <strong>
                                {{item.Name}}
                            </strong>
                            {% if item.Funding == "Yes" %}
                                <span class="label label-success">
                                    Funding
                                </span>
                            {% endif %}
                            {% if item.ACMFellow == "Yes" %}
                                <span class="label label-primary">
                                    ACM Fellow
                                </span>
                            {% endif %}
                            {% if item.IEEEFellow == "Yes" %}
                                <span class="label label-primary">
                                    IEEE Fellow
                                </span>
                            {% endif %}
                            </div>
                            <div style="float:right; display:inline">
                                {% if item.URL %}
                                <a href="{{item.URL}}">
                                {% else %}
                                    {% if item.isPerson %}
                                    <a href="/lucky/{{item.Name}}%20{{item.UniversityName}}">
                                    {% else %}
                                    <a href="/lucky/{{item.Name}}%20Computer%20Science">
                                    {% endif %}
                                {% endif %}
                                    Homepage <img src="img/home_16px_1195215_easyicon.net.png" alt="Go Visit the Homepage (Through Google Lucky)" />
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            {% if item.isPerson %}
                                <p>
                                    <strong>{{item.Name}}</strong>
                                    {% if item.Title %}
                                        {{item.Title}}
                                    {% endif %}
                                </p>
                                <p>
                                    <a href="/home?keyword={{item.University}}">{{item.University}}</a>
                                    (Rankings
                                    {% if item.CSRank %}
                                        <span class="label label-warning"> CS {{item.CSRank}} </span> &nbsp;
                                    {% endif %}
                                    {% if item.AIRank %}
                                        <span class="label label-info"> AI {{item.AIRank}} </span>&nbsp;
                                    {% endif %}
                                    {% if item.PLRank %}
                                        <span class="label label-info"> PL {{item.PLRank}} </span>&nbsp;
                                    {% endif %}
                                    {% if item.SystemRank %}
                                        <span class="label label-info"> System {{item.SystemRank}} </span>&nbsp;
                                    {% endif %}
                                    {% if item.TheoryRank %}
                                        <span class="label label-info"> Theory {{item.TheoryRank}} </span>&nbsp;
                                    {% endif %}
                                )</p>
                                {% if item.ResearchInterests %}
                                    <p>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal{{item.Identity}}">
                                            More (Experimental)
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal{{item.Identity}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">{{item.Name}}</h4>
                                              </div>
                                              <div class="modal-body">
                                                  <p>
                                                      <strong>{{item.Title}} </strong>at <strong> {{item.University}}</strong>
                                                  </p>
                                                  <p>
                                                    <strong>Research Interests</strong> <br/>{{item.ResearchInterests}}
                                                  </p>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </p>
                                {% endif %}
                                <p>
                                    <a href="http://www.bing.com/search?q={{item.Name}}%20{{item.University}}">
                                        <img src="img/search_16px_1187523_easyicon.net.png" style="width: auto; height: auto">
                                        Bing me!
                                    </a>
                                </p>
                            {% else %}
                                <p>
                                        <strong>{{item.Name}}</strong>
                                </p>
                                <p>
                                     USNews Rankings
                                 </p>
                                 <p>
                                     <!-- present rankings using 'list-group' -->
                                     <!-- <div class="container" style="width: auto;float: left;" align="left">
                                         <ul class="list-group">
                                             {% if item.CSRank %}
                                              <li class="list-group-item">
                                                <span class="label label-danger label-pill pull-xs-right">{{item.CSRank}}</span>
                                                Computer Science
                                              </li>
                                            {% endif %}
                                           {% if item.AIRank %}
                                            <li class="list-group-item">
                                              <span class="label label-primary label-pill pull-xs-right">{{item.AIRank}}</span>
                                              Artificial Intelligence
                                            </li>
                                          {% endif %}
                                          {% if item.PLRank %}
                                           <li class="list-group-item">
                                             <span class="label label-primary label-pill pull-xs-right">{{item.PLRank}}</span>
                                             Programming Language
                                           </li>
                                         {% endif %}
                                         {% if item.SystemRank %}
                                          <li class="list-group-item">
                                            <span class="label label-primary label-pill pull-xs-right">{{item.SystemRank}}</span>
                                            System
                                          </li>
                                        {% endif %}
                                         {% if item.TheoryRank %}
                                          <li class="list-group-item">
                                            <span class="label label-primary label-pill pull-xs-right">{{item.TheoryRank}}</span>
                                            Theory
                                          </li>
                                        {% endif %}
                                        </ul>
                                    </div> -->
                                    <!-- end: rankings -->

                                    <!-- present rankings using unordered list  -->
                                    <ul>
                                    {% if item.CSRank %}
                                        <li>
                                            <span class="label label-danger">  {{item.CSRank}} </span>
                                            &nbsp;Computer Science
                                        </li>
                                    {% endif %}
                                    {% if item.AIRank %}
                                        <li style="padding-top:3px">
                                            <span class="label label-primary">  {{item.AIRank}} </span>
                                            &nbsp;Artificial Intelligence
                                        </li>
                                    {% endif %}
                                    {% if item.PLRank %}
                                        <li style="padding-top:3px">
                                            <span class="label label-primary">  {{item.PLRank}} </span>
                                            &nbsp;Programming Language
                                        </li>
                                    {% endif %}
                                    {% if item.SystemRank %}
                                        <li style="padding-top:3px">
                                            <span class="label label-primary">  {{item.SystemRank}} </span>
                                            &nbsp;System
                                        </li>
                                    {% endif %}
                                    {% if item.TheoryRank %}
                                        <li style="padding-top:3px">
                                            <span class="label label-primary"> {{item.TheoryRank}} </span>
                                            &nbsp;Theory
                                        </li>
                                    {% endif %}
                                    </ul>
                                    <!-- end: rankings -->

                                </p>
                                <p>
                                    At LEAST
                                    <strong>{{item.NumACMFellow}}</strong> with ACM Fellowship,
                                    <strong>{{item.NumIEEEFellow}}</strong> with IEEE Fellowship,
                                    <strong>{{item.NumFunding}}</strong> with NSF Funding.
                                </p>
                                <p>
                                    <a href="http://www.bing.com/search?q={{item.Name}}">
                                        <img src="img/search_16px_1187523_easyicon.net.png" style="width: auto; height: auto">Bing me!
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <ul class="pager">
                    {% if curPage == "1" %}
                    <li class="previous disabled">
                        <a>Previous</a>
                    </li>
                    {% else %}
                    <li class="previous">
                        <a href="/home?keyword={{keyword}}&page={{prevPage}}">Previous</a>
                    </li>
                    {% endif %}
                    {% if curPage == totalPage %}
                    <li class="next disabled">
                        <a>Next</a>
                    </li>
                    {% else %}
                    <li class="next">
                        <a href="/home?keyword={{keyword}}&page={{nextPage}}">Next</a>
                    </li>
                    {% endif %}
                    <li>
                    <form class="form-inline" action="/home" method="get">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-addon"><strong>Page</strong> {{curPage}} / {{totalPage}}</div>
                          <input type="hidden" name="keyword" value="{{keyword}}">
                          <input type="number" name="page" class="form-control" placeholder="Go to Page ...">
                        </div>
                      </div>
                      <button type="submit" class="btn btn-default">Jump</button>
                    </form>
                    </li>
                </ul>
            {% endif %}
        </div>
{% endblock %}
