{% extends "base.html" %}

{% block scripts %}

{% endblock %}

{# ======================================= #}

{% block page_content %}
        <div class="page-header">
            <center>
                <h1>CSInfoGo:
                    Hi, CSers!</h1><h4>
                Input a faculty name or a university name / abbreviatoin, and magic happens!</h4>
            </center>
        </div>
        <div class="container">
            <center>
            <div class="container" style="padding-top: 18px">
                <form role="form" method="get" action="/home">
                    {% if keyword %}
                        <input type="text" class="form-control input-lg" name="keyword", value="{{keyword}}">
                    {% else %}
                        <input type="text" class="form-control input-lg" name="keyword">
                    {% endif %}
                    <br />
                    <button type="submit" class="btn btn-primary btn-lg">Go</button>
                </form>
            </div>
            </center>
        </div>
        {% if items %}
            <div class="container" style="padding-top: 20px">
                <div class="alert alert-success">
                    <strong> Success! </strong>
                    Last Search: <strong> {{keyword}} </strong>
                    at {{curTime}}
                </div>
                {% for item in items %}
                    {% if item.isPerson %}
                    <div class="panel panel-info">
                    {% else %}
                    <div class="panel panel-warning">
                    {% endif %}
                        <div class="panel-heading">
                            <div style="display:inline">
                            <strong>
                                {{item.Name}}
                            </strong>
                            {% if item.Funding == "Yes" %}
                                <span class="label label-success">
                                    Funding
                                </span>
                            {% endif %}
                            {% if item.ACMFellow == "Yes" %}
                                <span class="label label-primary">
                                    ACM Fellow
                                </span>
                            {% endif %}
                            {% if item.IEEEFellow == "Yes" %}
                                <span class="label label-primary">
                                    IEEE Fellow
                                </span>
                            {% endif %}
                            </div>
                            <div style="float:right; display:inline">
                                <a href="/lucky/{{item.Name}}">Homepage</a>

                            </div>
                        </div>
                        <div class="panel-body">
                            {% if item.isPerson %}
                                <p>
                                    <strong>{{item.Name}}</strong>
                                </p>
                                <p>{{item.University}} (Rank
                                    {% if item.CSRank %}
                                        <span class="label label-warning"> CS {{item.CSRank}} </span> &nbsp;
                                    {% endif %}
                                    {% if item.AIRank %}
                                        <span class="label label-info"> AI {{item.AIRank}} </span>&nbsp;
                                    {% endif %}
                                    {% if item.PLRank %}
                                        <span class="label label-info"> PL {{item.PLRank}} </span>&nbsp;
                                    {% endif %}
                                    {% if item.SystemRank %}
                                        <span class="label label-info"> System {{item.SystemRank}} </span>&nbsp;
                                    {% endif %}
                                    {% if item.TheoryRank %}
                                        <span class="label label-info"> Theory {{item.TheoryRank}} </span>&nbsp;
                                    {% endif %}
                                )</p>
                                <p>
                                    <a href="http://www.bing.com/search?q={{item.Name}}%20{{item.University}}">
                                        Bing me!
                                    </a>
                                </p>
                            {% else %}
                                <p>
                                        <strong>{{item.Name}}</strong>
                                    </p>
                                     Rank
                                    {% if item.CSRank %}
                                        <span class="label label-warning"> CS {{item.CSRank}} </span> &nbsp;
                                    {% endif %}
                                    {% if item.AIRank %}
                                        <span class="label label-info"> AI {{item.AIRank}} </span>&nbsp;
                                    {% endif %}
                                    {% if item.PLRank %}
                                        <span class="label label-info"> PL {{item.PLRank}} </span>&nbsp;
                                    {% endif %}
                                    {% if item.SystemRank %}
                                        <span class="label label-info"> System {{item.SystemRank}} </span>&nbsp;
                                    {% endif %}
                                    {% if item.TheoryRank %}
                                        <span class="label label-info"> Theory {{item.TheoryRank}} </span>&nbsp;
                                    {% endif %}
                                </p>
                                <p>
                                    <a href="http://www.bing.com/search?q={{item.Name}}">
                                        Bing me!
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <ul class="pager">
                    <li class="previous">
                        <a href="/home?keyword={{keyword}}&page={{prevPage}}">Previous</a>
                    </li>
                    <strong>Page</strong>
                        {{curPage}}
                            /
                        {{totalPage}}
                    <li class="next">
                        <a href="/home?keyword={{keyword}}&page={{nextPage}}">Next</a>
                    </li>
                </ul>
            </div>
        {% endif %}
{% endblock %}
